@import url('https://fonts.googleapis.com/css?family=Ubunto:wght@300,400,500,600,700&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.contBox
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contBox .atividades
{
  left: 50%;
}