@import url('https://fonts.googleapis.com/css?family=Ubunto:wght@300,400,500,600,700&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.contBox
{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.contBox .title
{
  display: flex;
  justify-content: center;
  color: #0E282B;
  text-align: center;
  white-space: nowrap;
}
.contBox .nomeAtv
{
  display: flex;
  justify-content: center;
  color: #0E282B;
  height: 50%;
  line-height: 150%;
  text-align: center;
  white-space: nowrap;
}
.contBox .atividades
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 800px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.atividades .imagem
{
  position: relative;
  overflow: hidden;
}
.atividades .imagem img
{
  width: 100%;
  border-radius: 20px;
}
.contBox .atividades1
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 860px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.atividades1 .imagem
{
  position: relative;
  overflow: hidden;
}
.atividades1 .imagem img
{
  width: 100%;
  border-radius: 20px;
}
.contBox .atividadesDeitadas
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 405px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.atividadesDeitadas .imagem
{
  position: relative;
  overflow: hidden;
}
.atividadesDeitadas .imagem img
{
  width: 100%;
  border-radius: 20px;
}