@import url('https://fonts.googleapis.com/css?family=Ubunto:wght@300,400,500,600,700&display=swap');
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.contBox
{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.contBox .title
{
  display: flex;
  justify-content: center;
  color: #0E282B;
  text-align: center;
  white-space: nowrap;
}
.contBox .nomeAtv
{
  display: flex;
  justify-content: center;
  color: #0E282B;
  height: 100%;
  line-height: 150%;
  text-align: center;
  white-space: nowrap;
}
.contBox .atividades
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 800px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividades1
{
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 860px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividades2
{
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 986px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividades3
{
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 898px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividades4
{
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 498px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 405px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas1
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 389px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas2
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 510px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas3
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 422px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas4
{
  position: relative;
  margin: 0 auto;
  width: 600px;
  height: 344px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.contBox .atividadesDeitadas5
{
  position: relative;
  margin: 10px auto;
  width: 600px;
  height: 337px;
  background: #091F25;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.atividades .imagem,
.atividades1 .imagem,
.atividades2 .imagem,
.atividades3 .imagem,
.atividades3 iframe,
.atividades4 .imagem,
.atividadesDeitadas .imagem,
.atividadesDeitadas1 .imagem,
.atividadesDeitadas2 .imagem,
.atividadesDeitadas3 .imagem,
.atividadesDeitadas4 .imagem,
.atividadesDeitadas5 .imagem
{
  position: relative;
  overflow: hidden;
}
.atividades .imagem img,
.atividades1 .imagem img,
.atividades2 .imagem img,
.atividades3 .imagem img,
.atividades3 iframe,
.atividades4 .imagem img,
.atividadesDeitadas .imagem img,
.atividadesDeitadas1 .imagem img,
.atividadesDeitadas2 .imagem img,
.atividadesDeitadas3 .imagem img,
.atividadesDeitadas4 .imagem img,
.atividadesDeitadas5 .imagem img
{
  width: 100%;
  border-radius: 20px;
}